:root {
  --primary-color: light-dark(#2f7bd3, #269930);
}

.page-header {
  /* background-color: green; */
  text-align: center;
  font-size: 5vw;
  @media screen and (max-width: 800px) {
    font-size: 10vw;
  }
}

main {
  text-align: center;
  /* background-color: green; */
}

.form-header-box-wrapper {
  /* background-color: orange; */
  max-width: 500px;
  width: 100%;
  text-align: left;
  display: inline-block;
  margin-bottom: 1.5em;
}
.form-header-box {
  /* background-color: pink; */
  display: flex;
}
.form-header {
  text-align: left;
  display: inline-block;
  /* background-color: aqua; */
  width: 100%;
  margin: 0;
  font-size: 1.6em;
}
#light-mode,
#dark-mode {
  display: inline-block;
  display: none;
  /* background-color: yellow; */
}
label[for='light-mode'],
label[for='dark-mode'] {
  display: inline-block;
  /* background-color: brown; */
  font-size: 35px;
  margin: 0;
  margin-top: 7px;
}

button:hover,
option:hover,
input[type='radio'],
input[type='checkbox'],
input[type='color'],
input[type='date'],
#city,
select {
  cursor: pointer;
}

label[for='city']:hover,
label[for='birth-date']:hover,
label[for='dominant-color-of-the-works']:hover,
label[for='artwork-category']:hover,
label[for='yes']:hover,
label[for='no']:hover,
label[for='i-agree-to-contest-rules']:hover,
label[for='light-mode']:hover,
label[for='dark-mode']:hover {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  /* when dark */
  label[for='light-mode'] {
    display: inline-block;
  }
  label[for='dark-mode'] {
    display: none;
  }
  form {
    /* background-color: orange; */
    color-scheme: dark;
    color: white;
    background-color: #1c1c1c;
    text-align: center;
    box-sizing: border-box;
    text-align: left;
    display: inline-block;
    max-width: 500px;
    width: 100%;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 0px gray;
    padding: 30px;
    margin-bottom: 100px;
    input {
      color-scheme: dark;
      background-color: #383838;
      font-size: 16px;
      display: block;
      box-sizing: border-box;
      width: 100%;
      border-radius: 0;
      margin: 0 0 20px 0;
      padding: 10px;
      background-color: none;
      border: inset 2px black;
    }
    input[type='color'] {
      /* padding: 4px 2px 4px 2px; */
      padding: 0;
      height: 41px;
      border: solid 1px #444444;
    }
    input[type='radio'] {
      display: inline;
      width: auto;
      margin-right: 0.5em;
      color-scheme: light;
    }
    select {
      color-scheme: dark;
      font-size: 16px;
      display: block;
      box-sizing: border-box;
      width: 100%;
      border-radius: 0;
      margin: 0 0 20px 0;
      padding: 10px;
      border: solid 1px #444444;
      background-color: #383838;
    }
    fieldset {
      padding: 18px 0 0 15px;
      margin: 0;
      box-sizing: border-box;
      border: solid 2px #cbcbcb;
    }
    input[type='checkbox'] {
      display: inline-block;
      width: auto;
      margin-top: 20px;
      color-scheme: light;
    }
    button {
      font-size: 16px;
      background-color: #4caf50;
      font-weight: bold;
      color: white;
      width: 100%;
      border: none;
      border-radius: 7px;
      margin: 0;
      padding: 16px;
      &:hover {
        background-color: #45a049;
      }
    }
  }
  main:has(#light-mode:checked) {
    /* when light */
    label[for='light-mode'] {
      display: none;
    }
    label[for='dark-mode'] {
      display: inline-block;
    }
    form {
      color-scheme: light;
      /* background-color: orange; */
      color: black;
      background-color: white;
      text-align: center;
      box-sizing: border-box;
      text-align: left;
      display: inline-block;
      max-width: 500px;
      width: 100%;
      border-radius: 7px;
      box-shadow: 0px 0px 10px 0px gray;
      padding: 30px;
      margin-bottom: 100px;
      input {
        color-scheme: light;
        background-color: white;
        font-size: 16px;
        display: block;
        box-sizing: border-box;
        width: 100%;
        border-radius: 0;
        margin: 0 0 20px 0;
        padding: 10px;
        border: initial;
        border: solid 1px;
        border-color: black;
        background-color: none;
      }
      input[type='color'] {
        /* padding: 4px 2px 4px 2px; */
        padding: 0;
        height: 41px;
      }
      input[type='radio'] {
        display: inline;
        width: auto;
        margin-right: 0.5em;
        color-scheme: light;
      }
      select {
        border: initial;
        color-scheme: light;
        font-size: 16px;
        display: block;
        box-sizing: border-box;
        width: 100%;
        border-radius: 0;
        margin: 0 0 20px 0;
        padding: 10px;
        border: solid 1px;
        background-color: white;
      }
      fieldset {
        padding: 18px 0 0 15px;
        margin: 0;
        box-sizing: border-box;
        border: solid 2px #cbcbcb;
      }
      input[type='checkbox'] {
        display: inline-block;
        width: auto;
        margin-top: 20px;
        color-scheme: light;
      }
      button {
        font-size: 16px;
        background-color: #4caf50;
        font-weight: bold;
        color: white;
        width: 100%;
        border: none;
        border-radius: 7px;
        margin: 0;
        padding: 16px;
        &:hover {
          background-color: #45a049;
        }
      }
    }
  }
  main:has(#dark-mode:checked) {
    /* when dark */
    label[for='light-mode'] {
      display: inline-block;
    }
    label[for='dark-mode'] {
      display: none;
    }
    form {
      /* background-color: orange; */
      color-scheme: dark;
      color: white;
      background-color: #1c1c1c;
      text-align: center;
      box-sizing: border-box;
      text-align: left;
      display: inline-block;
      max-width: 500px;
      width: 100%;
      border-radius: 7px;
      box-shadow: 0px 0px 10px 0px gray;
      padding: 30px;
      margin-bottom: 100px;
      input {
        color-scheme: dark;
        background-color: #383838;
        font-size: 16px;
        display: block;
        box-sizing: border-box;
        width: 100%;
        border-radius: 0;
        margin: 0 0 20px 0;
        padding: 10px;
        background-color: none;
        border: inset 2px black;
      }
      input[type='color'] {
        /* padding: 4px 2px 4px 2px; */
        padding: 0;
        height: 41px;
        border: solid 1px #444444;
      }
      input[type='radio'] {
        display: inline;
        width: auto;
        margin-right: 0.5em;
        color-scheme: light;
      }
      select {
        color-scheme: dark;
        font-size: 16px;
        display: block;
        box-sizing: border-box;
        width: 100%;
        border-radius: 0;
        margin: 0 0 20px 0;
        padding: 10px;
        border: solid 1px #444444;
        background-color: #383838;
      }
      fieldset {
        padding: 18px 0 0 15px;
        margin: 0;
        box-sizing: border-box;
        border: solid 2px #cbcbcb;
      }
      input[type='checkbox'] {
        display: inline-block;
        width: auto;
        margin-top: 20px;
        color-scheme: light;
      }
      button {
        font-size: 16px;
        background-color: #4caf50;
        font-weight: bold;
        color: white;
        width: 100%;
        border: none;
        border-radius: 7px;
        margin: 0;
        padding: 16px;
        &:hover {
          background-color: #45a049;
        }
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  /* when light */
  label[for='light-mode'] {
    display: none;
  }
  label[for='dark-mode'] {
    display: inline-block;
  }
  form {
    color-scheme: light;
    /* background-color: orange; */
    color: black;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
    text-align: left;
    display: inline-block;
    max-width: 500px;
    width: 100%;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 0px gray;
    padding: 30px;
    margin-bottom: 100px;
    input {
      color-scheme: light;
      background-color: white;
      font-size: 16px;
      display: block;
      box-sizing: border-box;
      width: 100%;
      border-radius: 0;
      margin: 0 0 20px 0;
      padding: 10px;
      border: initial;
      border: solid 1px;
      border-color: black;
      background-color: none;
    }
    input[type='color'] {
      /* padding: 4px 2px 4px 2px; */
      padding: 0;
      height: 41px;
    }
    input[type='radio'] {
      display: inline;
      width: auto;
      margin-right: 0.5em;
      color-scheme: light;
    }
    select {
      border: initial;
      color-scheme: light;
      font-size: 16px;
      display: block;
      box-sizing: border-box;
      width: 100%;
      border-radius: 0;
      margin: 0 0 20px 0;
      padding: 10px;
      border: solid 1px;
      background-color: white;
    }
    fieldset {
      padding: 18px 0 0 15px;
      margin: 0;
      box-sizing: border-box;
      border: solid 2px #cbcbcb;
    }
    input[type='checkbox'] {
      display: inline-block;
      width: auto;
      margin-top: 20px;
      color-scheme: light;
    }
    button {
      font-size: 16px;
      background-color: #4caf50;
      font-weight: bold;
      color: white;
      width: 100%;
      border: none;
      border-radius: 7px;
      margin: 0;
      padding: 16px;
      &:hover {
        background-color: #45a049;
      }
    }
  }
  main:has(#light-mode:checked) {
    /* when light */
    label[for='light-mode'] {
      display: none;
    }
    label[for='dark-mode'] {
      display: inline-block;
    }
    form {
      color-scheme: light;
      /* background-color: orange; */
      color: black;
      background-color: white;
      text-align: center;
      box-sizing: border-box;
      text-align: left;
      display: inline-block;
      max-width: 500px;
      width: 100%;
      border-radius: 7px;
      box-shadow: 0px 0px 10px 0px gray;
      padding: 30px;
      margin-bottom: 100px;
      input {
        color-scheme: light;
        background-color: white;
        font-size: 16px;
        display: block;
        box-sizing: border-box;
        width: 100%;
        border-radius: 0;
        margin: 0 0 20px 0;
        padding: 10px;
        border: initial;
        border: solid 1px;
        border-color: black;
        background-color: none;
      }
      input[type='color'] {
        /* padding: 4px 2px 4px 2px; */
        padding: 0;
        height: 41px;
      }
      input[type='radio'] {
        display: inline;
        width: auto;
        margin-right: 0.5em;
        color-scheme: light;
      }
      select {
        border: initial;
        color-scheme: light;
        font-size: 16px;
        display: block;
        box-sizing: border-box;
        width: 100%;
        border-radius: 0;
        margin: 0 0 20px 0;
        padding: 10px;
        border: solid 1px;
        background-color: white;
      }
      fieldset {
        padding: 18px 0 0 15px;
        margin: 0;
        box-sizing: border-box;
        border: solid 2px #cbcbcb;
      }
      input[type='checkbox'] {
        display: inline-block;
        width: auto;
        margin-top: 20px;
        color-scheme: light;
      }
      button {
        font-size: 16px;
        background-color: #4caf50;
        font-weight: bold;
        color: white;
        width: 100%;
        border: none;
        border-radius: 7px;
        margin: 0;
        padding: 16px;
        &:hover {
          background-color: #45a049;
        }
      }
    }
  }
  main:has(#dark-mode:checked) {
    /* when dark */
    label[for='light-mode'] {
      display: inline-block;
    }
    label[for='dark-mode'] {
      display: none;
    }
    form {
      /* background-color: orange; */
      color-scheme: dark;
      color: white;
      background-color: #1c1c1c;
      text-align: center;
      box-sizing: border-box;
      text-align: left;
      display: inline-block;
      max-width: 500px;
      width: 100%;
      border-radius: 7px;
      box-shadow: 0px 0px 10px 0px gray;
      padding: 30px;
      margin-bottom: 100px;
      input {
        color-scheme: dark;
        background-color: #383838;
        font-size: 16px;
        display: block;
        box-sizing: border-box;
        width: 100%;
        border-radius: 0;
        margin: 0 0 20px 0;
        padding: 10px;
        background-color: none;
        border: inset 2px black;
      }
      input[type='color'] {
        /* padding: 4px 2px 4px 2px; */
        padding: 0;
        height: 41px;
        border: solid 1px #444444;
      }
      input[type='radio'] {
        display: inline;
        width: auto;
        margin-right: 0.5em;
        color-scheme: light;
      }
      select {
        color-scheme: dark;
        font-size: 16px;
        display: block;
        box-sizing: border-box;
        width: 100%;
        border-radius: 0;
        margin: 0 0 20px 0;
        padding: 10px;
        border: solid 1px #444444;
        background-color: #383838;
      }
      fieldset {
        padding: 18px 0 0 15px;
        margin: 0;
        box-sizing: border-box;
        border: solid 2px #cbcbcb;
      }
      input[type='checkbox'] {
        display: inline-block;
        width: auto;
        margin-top: 20px;
        color-scheme: light;
      }
      button {
        font-size: 16px;
        background-color: #4caf50;
        font-weight: bold;
        color: white;
        width: 100%;
        border: none;
        border-radius: 7px;
        margin: 0;
        padding: 16px;
        &:hover {
          background-color: #45a049;
        }
      }
    }
  }
}

/* -------------------------------------------------- */
