* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /* background-color: gray; */
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.galeria {
  /* background-color: yellow; */
  width: 90%;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
}

figure {
  /* background-color: green; */
  grid-column: span 1;
  @media (max-width: 1199px) {
    grid-column: span 2;
  }
}

figcaption {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.8em;
}

picture {
  /* background-color: orange; */
}

img {
  width: 100%;
  border-radius: 20px;
  display: block;
  &:hover {
    box-shadow: 0 0 15px rgba(8, 106, 253, 1);
  }
}
