/* Minimalny reset  */
html {
  font-size: 16px; /* bazowy rozmiar czcionki */
  font-family: system-ui, sans-serif; /* font systemowy */
  line-height: 1.5; /* lepsza czytelność */
}
body {
  margin: 1rem;
  padding: 0;
}

a {
  color: #0066cc; /* niebieski kolor linków */
  text-decoration: none; /* bez podkreślenia */
  font-size: 1.4rem;
}
a:hover {
  text-decoration: underline; /* podkreślenie przy najechaniu */
}

/* ---------------------------------------------------------------------  */

:root {
  --primary-color: #2f7bd3;
}

.page-header {
  /* background-color: green; */
  text-align: center;
  font-size: 5vw;
  @media screen and (max-width: 800px) {
    font-size: 10vw;
  }
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: orange; */
  text-align: center;
  a {
    color: var(--primary-color);
    margin: 0.5em;
    padding: 0px 1em 0px 1em;
    border-radius: 1em;
    border: solid var(--primary-color) 3px;
    &:hover {
      text-decoration: none;
      color: white;
      background-color: var(--primary-color);
    }
    &:active {
      color: white;
      background-color: var(--primary-color);
      filter: brightness(0.6);
    }
  }
}
